@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scroll-behavior: smooth; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

a {
  color: inherit;
  text-decoration: none;
  user-select: text; }

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: #000000;
  position: relative; }
  .header__logo {
    display: flex;
    align-items: center;
    max-width: 390px;
    height: 60px;
    margin-left: 20px; }
    .header__logo img {
      width: 60px; }
      .header__logo img:last-child {
        width: 330px; }
  .header__menu {
    width: 300px;
    display: flex;
    align-items: center;
    margin-right: 30px; }

.menu__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
.menu__item {
  font-weight: 700;
  cursor: pointer; }

@media (max-width: 767px) {
  .header {
    height: 100px;
    flex-direction: column; }
    .header__logo img:last-child {
      width: 250px;
      height: 50px; }

  .menu {
    margin-left: 30px;
    margin-bottom: 5px; } }
.main__content {
  display: flex; }
.main__header {
  width: 360px;
  margin: 210px 0 0 150px; }
  .main__header h1 {
    font-size: 35px; }
  .main__header p {
    margin-top: 10px;
    width: 400px; }

@media (max-width: 1024px) and (min-width: 801px) {
  .main__content {
    flex-wrap: wrap; }
  .main__header {
    margin: 180px 0 0 54px; } }
@media (max-width: 800px) and (min-width: 768px) {
  .main__header {
    margin: 160px 0 0 10px; } }
@media (max-width: 767px) {
  .main__header {
    margin: 30px; }
  .main__content {
    flex-direction: column; } }
.holiday {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 220px;
  text-align: center;
  font-size: 20px; }
  .holiday img {
    max-width: 423px; }

.timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 630px; }
  .timer h2,
  .timer p {
    width: 600px;
    margin-bottom: 20px; }
  .timer__elem + .timer__elem {
    margin-left: 30px; }

@media (max-width: 1360px) and (min-width: 1112px) {
  .holiday {
    margin-left: 100px; }

  .timer {
    width: 500px; } }
@media (max-width: 1111px) and (min-width: 913px) {
  .holiday {
    margin-left: 0px; }

  .timer {
    width: 500px; }
    .timer h2,
    .timer p {
      margin-bottom: 10px; }
    .timer__elem + .timer__elem {
      margin-left: 20px; } }
@media (max-width: 912px) and (min-width: 768px) {
  .holiday {
    margin-left: 0; }
    .holiday img {
      width: 390px; }

  .timer {
    width: 370px; }
    .timer h2,
    .timer p {
      margin-bottom: 5px; }
    .timer__elem + .timer__elem {
      margin-left: 10px; } }
@media (max-width: 767px) {
  .main__holiday {
    margin: 0px; }

  .holiday {
    flex-direction: row; }
    .holiday img {
      width: 200px; }

  .timer {
    margin-left: 20px;
    width: 200px;
    font-size: 14px; }
    .timer h2,
    .timer p {
      margin-bottom: 5px; }
    .timer__elem + .timer__elem {
      margin-left: 10px; } }
.price-list {
  width: 100%; }
  .price-list__product-category {
    margin: 20px 0 20px 20px; }
    .price-list__product-category span {
      padding: 5px; }
  .price-list__product-list {
    position: relative;
    height: 380px;
    margin-left: 20px; }
  .price-list__row {
    display: flex;
    position: absolute;
    transition: 0.3s; }
  .price-list__item {
    display: flex;
    width: 500px;
    height: 300px; }
    .price-list__item + .price-list__item {
      margin-left: 20px; }
    .price-list__item_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #f6d002;
      padding: 20px;
      border-radius: 40px 0 0 40px;
      width: 50%; }
      .price-list__item_info p {
        text-align: right; }
    .price-list__item_img {
      width: 50%;
      height: 300px;
      border-radius: 0 40px 40px 0; }
  .price-list__button {
    position: absolute;
    width: 50px;
    height: 70px;
    z-index: 100;
    top: 180px;
    background-color: #eee;
    border-radius: 10px;
    cursor: pointer; }
  .price-list__button-left {
    left: -10px; }
  .price-list__button-right {
    right: 10px; }

@media (max-width: 1024px) and (min-width: 768px) {
  .price-list__item {
    width: 355px;
    height: 250px; }
    .price-list__item_info {
      font-size: 18px; }
    .price-list__item_img {
      height: 250px; }
  .price-list__product-list {
    height: 320px; }
  .price-list__button {
    width: 35px;
    height: 40px;
    top: 175px; } }
@media (max-width: 767px) {
  .price-list__item {
    width: 160px;
    height: 120px; }
    .price-list__item_info {
      padding: 3px;
      font-size: 10px;
      border-radius: 8px 0 0 8px; }
    .price-list__item_img {
      height: 120px;
      border-radius: 0 8px 8px 0; }
  .price-list__product-list {
    height: 200px; }
  .price-list__button {
    width: 20px;
    height: 20px;
    top: 110px; }
  .price-list__product-category {
    margin: 20px 0 20px 20px; }
    .price-list__product-category span {
      padding: 5px; } }
.main__contacts {
  margin: 50px 0 0 0; }

.contacts {
  width: 100%; }
  .contacts__buttons {
    display: flex;
    justify-content: space-between;
    margin: 50px; }
  .contacts__button + .contacts__button {
    margin-left: 60px; }

@media (max-width: 1024px) and (min-width: 768px) {
  .contacts__button {
    font-size: 14px; } }
@media (max-width: 767px) {
  .contacts__buttons {
    justify-content: center;
    flex-wrap: wrap;
    font-size: 10px;
    margin: 10px; }
  .contacts__button {
    margin: 5px; }
    .contacts__button + .contacts__button {
      margin-left: 0; } }
.main__about-us {
  margin: 50px 0; }

.about-us {
  width: 100%; }
  .about-us__content {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px; }
    .about-us__content p {
      background-color: #f6d002;
      padding: 50px;
      width: 100%;
      border-radius: 60px 0 0 60px; }
    .about-us__content_img {
      display: flex;
      align-items: center;
      background-color: #000;
      border-radius: 0 60px 60px 0; }

@media (max-width: 1144px) and (min-width: 767px) {
  .about-us__content {
    flex-direction: column;
    align-items: center; }
    .about-us__content p {
      width: 744px;
      border-radius: 60px 60px 0 0; }
    .about-us__content_img {
      display: flex;
      justify-content: center;
      width: 744px;
      overflow: hidden;
      border-radius: 0 0 60px 60px; } }
@media (max-width: 767px) {
  .about-us__content {
    margin: 10px 0;
    flex-direction: column;
    align-items: center; }
    .about-us__content p {
      width: 370px;
      border-radius: 60px 60px 0 0; }
    .about-us__content_img {
      display: flex;
      justify-content: center;
      width: 370px;
      overflow: hidden;
      border-radius: 0 0 60px 60px; } }
.footer {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #000;
  display: flex;
  align-items: center; }
  .footer__logo {
    position: absolute;
    left: -80px;
    transform: rotate(-90deg);
    width: 250px;
    box-sizing: content-box; }
  .footer__menu {
    margin-left: 300px;
    width: 120px; }
  .footer__designer {
    position: absolute;
    bottom: 10px;
    right: 10px; }

@media (max-width: 767px) {
  .footer__menu {
    margin-top: 10px;
    margin-left: 100px;
    width: 120px; }
  .footer__designer {
    transform: scale(0.5);
    right: -50px; } }
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  color: #eeeeee;
  font-size: 22px;
  font-weight: 600;
  overflow-x: hidden;
  background-color: #eee; }

h1,
h2 {
  font-size: inherit;
  font-weight: 900; }

.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: url(./../img/snow.svg);
  color: #292929; }

.container {
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden; }

.title {
  height: 60px;
  background-color: #f6d002;
  text-align: center;
  font-weight: 700;
  line-height: 60px; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #f6d002;
  padding: 10px 20px; }

h1,
span {
  display: inline;
  background-color: #f6d002;
  box-shadow: -5px 0 0 #f6d002, 5px 0 0 #f6d002; }

.hide {
  animation: hide 0.3s; }

.show {
  animation: show 0.3s; }

@keyframes hide {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }
@keyframes show {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
