.main {
	&__about-us {
		margin: 50px 0;
	}
}
.about-us {
	width: 100%;
	&__content {
		display: flex;
		justify-content: space-between;
		margin: 50px 200px;

		p {
			background-color: #f6d002;
			padding: 50px;
			width: 100%;
			border-radius: 60px 0 0 60px;
		}
		&_img {
			display: flex;
			align-items: center;
			background-color: #ffffff;
			border-radius: 0 60px 60px 0;
		}
	}
}
@media (max-width: 1144px) and(min-width: 767px) {
	.about-us__content {
		flex-direction: column;
		align-items: center;
		p {
			width: 744px;
			border-radius: 60px 60px 0 0;
		}
		&_img {
			display: flex;
			justify-content: center;
			width: 744px;
			overflow: hidden;
			border-radius: 0 0 60px 60px;
		}
	}
}
@media (max-width: 767px) {
	.about-us__content {
		margin: 10px 0;
		flex-direction: column;
		align-items: center;
		p {
			width: 370px;
			border-radius: 60px 60px 0 0;
		}
		&_img {
			display: flex;
			justify-content: center;
			width: 370px;
			overflow: hidden;
			border-radius: 0 0 60px 60px;
		}
	}
}
