.main {
	&__content {
		display: flex;
	}
	&__header {
		width: 360px;
		margin: 210px 0 0 150px;
		h1 {
			font-size: 35px;
		}
		p {
			margin-top: 10px;
			width: 400px;
		}
	}
}
@media (max-width: 1024px) and (min-width: 801px) {
	.main {
		&__content {
			flex-wrap: wrap;
		}
		&__header {
			margin: 180px 0 0 54px;
		}
	}
}
@media (max-width: 800px) and (min-width: 768px) {
	.main__header {
		margin: 160px 0 0 10px;
	}
}
@media (max-width: 767px) {
	.main {
		&__header {
			margin: 30px;
		}
		&__content {
			flex-direction: column;
		}
	}
}
