.main {
	&__contacts {
		margin: 50px 0 0 0;
	}
}
.contacts {
	width: 100%;
	&__buttons {
		display: flex;
		justify-content: space-between;
		margin: 50px;
	}
	&__button {
		& + & {
			margin-left: 60px;
		}
	}
}
@media (max-width: 1024px) and (min-width: 768px) {
	.contacts__button {
		font-size: 14px;
	}
}
@media (max-width: 767px) {
	.contacts {
		&__buttons {
			justify-content: center;
			flex-wrap: wrap;
			font-size: 10px;
			margin: 10px;
		}
		&__button {
			margin: 5px;
			& + & {
				margin-left: 0;
			}
		}
	}
}
