.header {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	background: #000000;
	position: relative;

	&__logo {
		display: flex;
		align-items: center;
		max-width: 390px;
		height: 60px;
		margin-left: 20px;
		& img {
			width: 60px;
			&:last-child {
				width: 330px;
			}
		}
	}
	&__menu {
		width: 300px;
		display: flex;
		align-items: center;
		margin-right: 30px;
	}
}
.menu {
	&__row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__item {
		font-weight: 700;
		cursor: pointer;
	}
}
@media (max-width: 767px) {
	.header {
		height: 100px;
		flex-direction: column;
		&__logo img:last-child {
			width: 250px;
			height: 50px;
		}
	}
	.menu {
		margin-left: 30px;
		margin-bottom: 5px;
	}
}
